<div class="container pt-5">
    <p>Add Animal Sighting</p>
    <div class="form-group py-3">
        <label for="formGroupExampleInput2">description</label>
        <input [value]="sighting.description" (input)="sighting.description=getValue($event)" class="form-control">
    </div>

    <select class="form-control my-3" (input)="sighting.type=getValue($event)">
        <option selected>Select Animal</option>
        <option *ngFor="let t of types" [value]="t">{{t}}</option>
    </select>

    <label class = "py-3">
        <input type="file" class="text-nowrap text-truncate" (change)="selectFile($event)" />
    </label>

    <google-map #map width="100%" height="300px" [options]="options">
        <map-marker [options]="markerPosition" (mapDragend)="drag($event)"></map-marker>
    </google-map>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != ''">
        {{errorMessage}}
    </div>

    <div class="alert alert-success" role="alert" *ngIf="success">
        Successfully added animal sighting.
    </div>
    <button type="submit" class="btn btn-success my-3" (click)="submit()">Submit</button>
</div>