<div *ngIf="model?.id.length > 0">
    <div class="card" style="width: 18rem;">
        <div class="spinner-border text-success" role="status" *ngIf ="imgURL.length == 0">
            <span class="visually-hidden">Loading...</span>
          </div>
        <img [src]="imgURL" class="card-img-top" alt="..."  *ngIf ="imgURL.length > 0">
        <div class="card-body">
            <h5 class="card-title">{{model?.name}}</h5>
            <p class="card-text">{{model?.description}}</p>
        </div>
    </div>
</div>