<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Australian Animal Map</h1>
            <p class="lead text-muted">A site for tracking endangered and at risk animals, animals of touristic interest
                or dangerous animals in urban areas</p>
            <p>
                <a class="btn btn-success my-2" routerLink="/search">Show Animal Sightings</a>
            </p>
        </div>
    </div>
</section>

<div class="container">
    <h2>Animals Currently Being Tracked</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col card-group" *ngFor="let t of types" >
            <div class="card">
                <img [src]="t.imgURL" class="card-img-top img-fluid" >
                <div class="card-body">
                    <h5 class="card-title">{{t.name}} {{t.emoji}}</h5>
                    <p class="card-text">{{t.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div> 
